# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# ML outputs
runs/
*.pt

# Dataset
computer-vision/data/raw/

# Generated outputs
computer-vision/data/processed/

# Jupyter
.ipynb_checkpoints/