# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# ML models
*.pkl
*.joblib
*.pt
*.pth

# OS
.DS_Store
Thumbs.db